name: PHP Security

on:
  workflow_call:
    inputs:
      memory-limit:
        description: Memory limit for psalm analysis
        required: false
        type: string
      report-retention-days:
        description: "Duration in days to preserve reports."
        required: false
        default: "5"
        type: string
      working-directory:
        description: "Workflow working directory"
        default: '.'
        required: false
        type: string
      php-version:
        description: 'Setup PHP version.'
        default: '8.1'
        required: false
        type: string
      extensions:
        description: 'Setup PHP extensions.'
        required: false
        type: string
      generate-sbom:
        description: 'Generates and uploads SBOM.'
        required: false
        type: boolean
        default: false
      publish-reports:
        description: "Publish SARIF and SBOM reports to Github."
        default: true
        required: false
        type: boolean
      psalm-runs-on:
        description: 'Configure runner for psalm-taint-analysis'
        default: 'ubuntu-latest'
        required: false
        type: string
      slack-channel:
        description: |
          The Slack channel where the notification will be sent.
          Defaults to $ {{ github.event.repository.custom_properties.ci_slack_channel }}.
        required: false
        type: string
    secrets:
      GPR_KEY:
        description: Personal access token to fetch private repos
        required: false

env:
  php-cache-key: v1

jobs:
  psalm-taint-analysis:
    name: psalm taint analysis
    runs-on: ${{ inputs.psalm-runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: equisoft-actions/setup-php@v1
        with:
          php-version: ${{ inputs.php-version }}
          extensions: ${{ inputs.extensions }}
          cache-key: ${{ env.php-cache-key }}

      - name: Composer install
        uses: equisoft-actions/composer@v1
        with:
          gpr-key: ${{ secrets.GPR_KEY}}
          working-directory: ${{ inputs.working-directory }}

      - name: Taint analysis
        uses: equisoft-actions/psalm-taint-analysis@v2
        with:
          memory-limit: ${{ inputs.memory-limit }}
          working-directory: ${{ inputs.working-directory }}
          report-retention-days: ${{ inputs.report-retention-days }}

  sbom:
    name: Generate SBOM
    runs-on: ubuntu-latest
    if: inputs.generate-sbom == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: equisoft-actions/setup-php@v1
        with:
          php-version: ${{ inputs.php-version }}
          extensions: ${{ inputs.extensions }}
          cache-key: ${{ env.php-cache-key }}

      - name: Composer install
        uses: equisoft-actions/composer@v1
        with:
          gpr-key: ${{ secrets.GPR_KEY }}
          working-directory: ${{ inputs.working-directory }}

      - name: Generate SBOM
        uses: equisoft-actions/composer-sbom@v2
        with:
          publish: ${{ inputs.publish-reports }}
          report-retention-days: ${{ inputs.report-retention-days }}
          working-directory: ${{ inputs.working-directory }}

  workflow-status:
    name: Workflow status
    runs-on: ubuntu-latest
    needs:
      - psalm-taint-analysis
      - sbom
    if: always()
    steps:
      - name: Post workflow status
        uses: equisoft-actions/notify-workflow-status@v2
        with:
          needs: ${{ toJSON(needs) }}
          slack-enabled: ${{ github.event_name == 'push' }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          slack-channel: ${{ inputs.slack-channel || github.event.repository.custom_properties.ci_slack_channel }}
